.t8-center{
  background-color: white;
  text-align: center;
  font-weight: bold;
}

.t8-label{
  color: #1f2228;
  text-align: center;
  font-weight: bold;
  padding: 2px;
  font-size: 0.5em;
}

.t8-column{
  float: left;
  width: 10%;
}

.t8-colorPicker{
  border: 2px solid black;
}

#wrapper {
  margin-left: 100px;
}

#container {
  float: right;
  width: 100%;
}

#workspace {
  float: left;
  width: 100px;
  margin-left: -100px;
}

.arrow-top {
  width: 0;
  height: 0;
  z-index: -1000;
  margin: 2px;
  border-top: 30px solid blue;
  border-bottom: 30px solid transparent;
  border-right: 30px solid transparent;
}
