.t8-center{
  background-color: white;
  text-align: center;
  font-weight: bold;
}


.t8-label{
  color: #1f2228;
  text-align: center;
  font-weight: bold;
}

.t8-column{
  float: left;
  width: 14%;
}

.t8-colorPicker{
  padding: 10px 10px 10px 10px;
}
